companyId=L"20096"
config-workflow-node-identifier-id="docusign-example"
document="contract.pdf"
documentLookupType="filename"
documentWorkflowContextKey=""
emailBodyTemplate="This\ is\ a\ test\ email"
emailSubjectTemplate="DocuSign\ Example"
enable=B"true"
envelopeName="DocuSign\ Demo"
envelopeNameWorkflowContextKey=""
exceptionWorkflowStatus="incomplete"
folderId=L"36473"
recipientEmailAddressWorkflowContextKey="emailAddress"
recipientFullNameWorkflowContextKey="emailAddress"
senderEmailAddress="peter.richards@liferay.com"
senderEmailAddressWorkflowContextKey=""
successWorkflowStatus="pending"
updateWorkflowStatusOnException=B"true"
updateWorkflowStatusOnSuccess=B"true"
useWorkflowContextKeyForDocument=B"false"
useWorkflowContextKeyForEnvelopeName=B"false"
useWorkflowContextKeyForSenderEmailAddress=B"false"
