companyId=L"20096"
config-workflow-node-identifier-id="docusign-example"
ddmFieldReferenceArray=[ \
  "emailAddress", \
  ]
ddmUserDataFieldMap=""
enable=B"true"
exceptionWorkflowStatus="incomplete"
extractUploads=B"false"
formInstanceRecordVersionId=L"0"
formInstanceRecordVersionIdValueWorkflowContextKey="recVerId"
includeWorkflowInformation=B"false"
successWorkflowStatus="pending"
updateWorkflowStatusOnException=B"true"
updateWorkflowStatusOnSuccess=B"true"
useEntryClassPrimaryKey=B"true"
useWorkflowContextKeyForFormInstanceRecordVersionId=B"false"
